* {
    box-sizing: border-box;
}

body{ background-color:#e2e2e2;}

img{
    width:100%;
    transition-property:box-shadow;
    transition-duration: 500ms;
    border-radius: 0.5cm;
}

img:hover{

   padding-top:-3px;
   padding-left:-3px;
   box-shadow: 2px 2px 20px 10px #888888;

}


.header {
    padding: 30px;
    text-align:left;
    text-shadow:3px 3px black;
    font-family:Lucida Sans Unicode;
    background:linear-gradient(to right,grey,white);
    color:white;
}

.header h1 {
    font-size: 50px;
}


.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    transition-property: background-color,padding;
    transition-duration: 1000ms;
}


.topnav a:hover {
    background-color: #e2e2e2;
    padding-left:25px;
    padding-right:25px;	    
    color: black;
    
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.left{
    float:left;
    width:75%;
    position:relative;
    animation-name:moveup;
    animation-duration:1s;
    animation-timing-function: ease-out;
}

.right{
    float:left;
    width:25%;
    position:relative;
    padding-left:20px;
    animation-name:moveup;
    animation-duration:2s;
    animation-timing-function: ease-out;
}

.cardview{
    background-color:white;
    text-align:left;
    margin-top:10px;
    padding:10px 20px 20px 20px;
    font-family:Lucida Sans Unicode;
    border-radius:20px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 600;
    transition-timing-function: ease-in-out;
    box-shadow: 5px 7px #888888;
    transition-property:box-shadow,transform;
    transition-duration:1000ms;
    
}

.cardview:hover{
    padding-top:-3px;
    padding-left:-3px;
    box-shadow: 4px 4px 20px 10px #888888;
}

.cardview2{
    background-color:#cccccc;
    text-align:left;
    margin-top:10px;
    padding:20px 20px 20px 20px;
    font-family:Lucida Sans Unicode;
    border-radius:30px;
     box-shadow: 5px 7px #888888;
     transition-property: background-color,box-shadow;
    transition-duration: 1000ms;
}
.cardview2:hover{
    background-color:white;
    padding-top:-3px;
    padding-left:-3px;
    box-shadow: 4px 4px 20px 10px #888888;
}

.more{
    background-color: red;
    text-align: center;
    border-radius: 0.25cm;
    color: white;

}

@keyframes moveup {
    from { opacity:0;left:0px; top:1000px;}
    to {opacity:1;left:0px; top:0px;}
}

.footer {
    padding: 20px;
    text-align: right;
    position:relative;
    background: grey;
    margin-top: 10px;
    color:white;
    animation-name:moveup;
    animation-duration:4s;
    animation-timing-function: ease-out;
}

:checked + .cardview {
    transform: rotateX(180deg);
}

input{
    display: none;
}

@media screen and (max-width: 1700px) {
    .left,.right {   
        width: 100%;
        padding: 0;
    }
}